* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
/* 
body {
  overflow: hidden;
} */

.bg {
  background-image: url("../image/temaPainel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.bgNoHome {
  /* The image used */
  background-image: url("../image/temaPainel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  /* Add the blur effect */
  /* filter: blur(8px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* background-image: url("../image/temaPainel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.bg > div {
  margin: 10px;
  width: 70%;
  position: absolute;
  top: 80%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}

.bg > div > label {
  color: #ff95c9;
}
.bg > div > div.content > ul {
  display: block;
  height: 100px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0);
  font-weight: normal;
  font-size: 0.6em;
}

.bg > div > div.content > ul > li {
  float: none;
}

.bg > div > div.content > ul > li > p {
    margin-inline-start: 2em;
    text-indent: 0em;
}

.bg > div > div.content > ul > li > h3 {
  text-align: initial;
  font-weight: normal;
  margin-inline-start: 10px;
}

.containerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6vh 94vh;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ff95c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* a {
  display: inline;
  padding: 8px;

  text-decoration: none;
 } */

h1 {
  font-family: "Rochester", cursive;
  color: #ff95c9;
  text-align: center;
  border: #fd4ba2;
}

.contentIndex h1 {
  text-align: center;
  text-indent: inherit;
  font-size: 50px;
  font-weight: bold;
  border: #fd4ba2;
}

.contentIndex p {
  text-align: center;
  text-indent: inherit;
  font-size: 40px;
  font-weight: bold;
  color: #ff95c9;
}

h2 {
  text-align: left;
}

h3 {
  font-family: "Rochester", cursive;
  color: #ff95c9;
  border: #fd4ba2;
  margin-inline-start: 12px;
  margin-bottom: 5px;
}

p {
  font-family: "Rochester", cursive;
  color: white;
  text-align: justify;
  margin-inline-start: 12px;
  margin-inline-end: 12px;
  text-indent: 2em;
  font-size: larger;
}

p > a {
  font-family: "Rochester", cursive;
  color: #ff95c9;
}

.parag p {
  font-family: "Rochester", cursive;
  color: white;
  text-align: justify;
  margin-inline-start: 12px;
  margin-inline-end: 12px;
  text-indent: inherit;
}

.img-container {
}

img {
  width: 350px;
  display: block;
  margin: 0 auto;
}

.contentTema div {
  margin-bottom: 10px;
}

div.titleWrapper {
  margin-top: 3%;
}

.contentTema {
  color: black;
  line-height: 1.5;
}

div.content {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  line-height: 1.5;
  padding-block-end: 10px;
}

div.contentAgradecimento {
  /* margin: 10px; */
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  line-height: 1.5;
  padding-block-end: 10px;
}

div.contentIndex {
  margin: 10px;
  position: absolute;
  top: 21%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bolder;
  width: 100%;
}

textarea {
  width: 300px;
  height: 100px;

  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #fd4ba2;
}

.formContainer {
  display: flex;
  justify-content: center;
}

input {
  padding: 5px 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #fd4ba2;
}

.button {
  background-color: #fd4ba2;
  font-family: "Rochester", cursive;
  color: white;
  width: 100%;
}

label {
  font-family: "Rochester", cursive;
  color: white;
}

/* @media (max-width: 600px) { */
ul {
  display: flex;
}

.wrapper {
  display: grid;
}

.wrapperIndex {
  display: grid;
}

.wrapper .wrapperIndex .content .contentIndex {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* } */
