* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("../image/temaPainel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.bgNoHome {
      /* The image used */
      background-image: url("../image/temaPainel.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      position: relative;
  
      /* Add the blur effect */
      /* filter: blur(8px); */
  
      /* Full height */
      height: 100%;
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    /* background-image: url("../image/temaPainel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.containerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 93vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 93vh;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ff95c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* a {
  display: inline;
  padding: 8px;

  text-decoration: none;
 } */

h1 {
  font-family: 'Rochester', cursive;
  color: #ff95c9;
  text-align: center;
  border: #fd4ba2;
}

.contentIndex h1 {
  text-align: center;
  text-indent: inherit;
  font-size: 50px;
  font-weight: bold;
  border: #fd4ba2;
}

.contentIndex p {
  text-align: center;
  text-indent: inherit;
  font-size: 40px;
  font-weight: bold;
  border: #fd4ba2;
}

h2 {
  text-align: left;
}

h3 {
  font-family: 'Rochester', cursive;
  color: #ff95c9;
  border: #fd4ba2;
  margin-inline-start: 12px;
  margin-bottom: 5px;
}

p {
  font-family: 'Rochester', cursive;
  color: #ff95c9;
  text-align: justify;
  margin-inline-start: 12px;
  margin-inline-end: 12px;
  text-indent: 2em;
}

img {
  width: 400px;
  padding: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contentTema div {
  margin-bottom: 10px;
}

div.titleWrapper{
  margin-top: 3%;
}

.contentTema {
  color: black;
  line-height: 1.5;
}

div.content {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  line-height: 1.5;
}

div.contentIndex {
  margin: 10px;
  padding-top: 12vh;
  color: black;
  font-weight: bolder;
}

/* @media (max-width: 600px) { */
  ul {
    display: flex;
  }

.wrapper {
  display: grid;
}

.wrapperIndex {
  display: grid;
}

.wrapper .wrapperIndex .content .contentIndex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* } */
